.bellSmallBiztitle{
    color: blue;
    border: 3px dashed blue;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
.bellSmallBizDivide{
    border: 3px dashed;
    height: 0;
    color: blue;
}
.bellSmallBiz-total-grid{
    display: grid;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr;
    width: 500px;
}
.bellSmallBiz-grid-item{
    border: 2px solid black;
    padding: 0 0 0 30px;
}
.bellSmallBiz-grid-button{
    grid-column: span 2;
    padding: 5px;
    margin: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
.bellSmallBiz-button{
    background-color: blue;
    font-weight: bold;
    height: 40px;
    width: 80px;
    color: white;
}
.bellSmallBizBox {
    border: 5px solid blue;
    padding: 10px;
    width: 510px;
}
.BellSmallBizFillBox{
    width: 70px;
}
.bellSmallBizInfoBox{
    width: 100px;
}






.bell-button{
    background-color: blue;
    font-weight: bold;
    height: 40px;
    width: 80px;
    color: white;
}
.virgin-button{
    background-color: red;
    font-weight: bold;
    height: 40px;
    width: 80px;
    color: white;
}
.offerbox{
    width: 50px;
}
.titleBox{
    width: 100px;
}