<<<<<<< HEAD
<<<<<<< HEAD
.bellSmallBiztitle{
=======
.bellSmallBistitle{
>>>>>>> master
=======
.bellSmallBistitle{
>>>>>>> master
    color: blue;
    border: 3px dashed blue;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
<<<<<<< HEAD
<<<<<<< HEAD
.bellSmallBizDivide{
=======
.bellSmallBisDivide{
>>>>>>> master
=======
.bellSmallBisDivide{
>>>>>>> master
    border: 3px dashed;
    height: 0;
    color: blue;
}
<<<<<<< HEAD
<<<<<<< HEAD
.bellSmallBiz-total-grid{
=======
.bellSmallBis-total-grid{
>>>>>>> master
=======
.bellSmallBis-total-grid{
>>>>>>> master
    display: grid;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr;
    width: 500px;
}
<<<<<<< HEAD
<<<<<<< HEAD
.bellSmallBiz-grid-item{
    border: 2px solid black;
    padding: 0 0 0 30px;
}
.bellSmallBiz-grid-button{
=======
=======
>>>>>>> master
.bellSmallBis-grid-item{
    border: 2px solid black;
    padding: 0 0 0 30px;
}
.bellSmallBis-grid-button{
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> master
    grid-column: span 2;
    padding: 5px;
    margin: 5px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
<<<<<<< HEAD
<<<<<<< HEAD
.bellSmallBiz-button{
=======
.bellSmallBis-button{
>>>>>>> master
=======
.bellSmallBis-button{
>>>>>>> master
    background-color: blue;
    font-weight: bold;
    height: 40px;
    width: 80px;
    color: white;
}
<<<<<<< HEAD
<<<<<<< HEAD
.bellSmallBizBox {
=======
.bellSmallBisBox {
>>>>>>> master
=======
.bellSmallBisBox {
>>>>>>> master
    border: 5px solid blue;
    padding: 10px;
    width: 510px;
}
<<<<<<< HEAD
<<<<<<< HEAD
.BellSmallBizFillBox{
    width: 70px;
}
.bellSmallBizInfoBox{
=======
=======
>>>>>>> master
.BellSmallBisFillBox{
    width: 70px;
}
.bellSmallBisInfoBox{
<<<<<<< HEAD
>>>>>>> master
=======
>>>>>>> master
    width: 100px;
}






.bell-button{
    background-color: blue;
    font-weight: bold;
    height: 40px;
    width: 80px;
    color: white;
}
.virgin-button{
    background-color: red;
    font-weight: bold;
    height: 40px;
    width: 80px;
    color: white;
}
.offerbox{
    width: 50px;
}
.titleBox{
    width: 100px;
}